a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
}

.center-link {
    text-align: center;
    margin-bottom: 20px;
}

.center-link button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #e74c3c; /* Kolor czerwony */
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.center-link button:hover {
    background-color: #c0392b; /* Ciemniejszy czerwony przy najechaniu */
}

/* Main Container */
.container {
    max-width: 85%;
    margin: 50px auto;
    padding: 25px;
    background-color: #1f1f1f;
    border-radius: 8px;
}

/* Buttons */
button, .button-group a {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

button:hover, .button-group a:hover {
    background-color: #45a049;
}

/* Form Styles */
.form-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.form-group label {
    margin: 10px 0 5px;
    font-size: 14px;
}

.form-group input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
}

/* Table Styles */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #333333;
}

th {
    background-color: #333333;
}

td {
    background-color: #1f1f1f;
}

tr:hover td {
    background-color: #2a2a2a;
}

td img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
        align-items: center;
    }

    .form-group label,
    .form-group input {
        width: 80%;
    }

    .navbar-right a {
        margin-left: 10px;
        font-size: 14px;
    }
}
